* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 body {
  height: 100vh;
  border: 2px solid black;
  background-color: pink;

}

header {
  height: 10%;
  font-size: 2rem;
  text-align: center;
  padding: 20px;
}

.flexContainer {
  display: flex;
  height: 80%;
  /* background-color: aqua; */
}

.leftPane {
  flex: 1;
  background-color: steelblue;
}
.rightPane {
  flex: 3;
  background-color: lightcoral;
}
.addNewBtn {
  align-self: flex-end;
  background-color: transparent;
  border: none;
  padding-right: 5rem;
}

.btnimg {
  width: 100px;
}

/* dont modify above code is part of template */

.leftPane{
  font-size: 2rem;
  text-align: center;
}